/* Apply the provided color scheme */
:root {
    --text: #131b1b;
    --background: #e7eeee;
    --primary: #83a7aa;
    --secondary: #c2d4d6;
    --accent: #537679;
}

/* --text: #0f0e0b;
--background: #eae8e1;
--primary: #636b4c;
--secondary: #dbe3d8;
--accent: #6c8c63; */

/* Apply a background color to the body */
body {
    background-color: var(--background);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text);
}

header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    color: var(--background);
    margin: 0;
}

.username {
    font-size: 14px;
    opacity: .5;
    justify-items: start;
    display: inline-block;
    vertical-align: baseline;
}

.brand {
    margin: 0;
    padding: 0;
}

.brand .info {
    display: inline-block;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu .pages {
    display: inline-block;
    margin-right: 10px;
    /* margin-bottom: 20px; */
}

.menu .pages a {
    text-decoration: none;
    color: var(--background);
    padding: 5px 10px;
    border: 2px solid var(--background);
    border-radius: 5px;
    background-color: var(--accent);
}

.menu .pages a:hover {
    background-color: var(--secondary);
    color: var(--text);
}

/* Style the main content */
main {
    flex: 1;
    text-align: center;
    padding: 20px;
}

main h1#welcome {
    font-family: "Young Serif", serif;
    color: var(--primary);
}

main p {
    font-size: 16px;
    color: var(--secondary);
    text-align: left;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

form label,
form input,
form button {
    margin: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--primary);
    color: var(--background);
    margin-top: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}
  
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border: 5px solid var(--secondary);
    border-radius: 2em;
    background-color: var(--primary);
}

.round {
    border-radius: 2em;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.single-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border: 5px solid var(--secondary);
    border-radius: 2em;
    background-color: var(--primary);
}
  
a {
    text-decoration: none;
    color: var(--accent);
}

a:hover {
    color: var(--primary);
}

aside {
    float: right;
    padding: 20px;
    margin: 10px;
    border: 5px solid var(--secondary);
    background-color: var(--primary);
    color: var(--text);
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.friends-list {
    width: 30%;
    padding: 20px;
    background-color: var(--primary);
    color: var(--text);
    border: 2px solid var(--accent);
    border-radius: 10px;
    overflow-y: auto;
}

.friends-list h2 {
    font-size: 20px;
}

.friends-list ul {
    list-style: none;
    padding: 0;
}

.friends-list li {
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
}

.friends-list li:hover {
    text-decoration: underline;
}

.inbox {
    width: 70%;
    padding: 20px;
}

.inbox h2 {
    font-size: 20px;
}

.message {
    margin: 20px 0;
    border: 2px solid var(--accent);
    background-color: var(--background);
    border-radius: 10px;
    padding: 10px;
    color: var(--text);
}

.message-sender {
    font-size: 16px;
    font-weight: bold;
}

.recipe-box {
    border: 2px solid var(--accent);
    background-color: var(--background);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

.recipe-title {
    font-size: 18px;
    color: var(--accent);
    margin: 10px 0;
}

.recipe-description {
    font-size: 16px;
    color: var(--secondary);
}

@media (orientation: portrait) {
    .menu .pages {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    main {
        flex-direction: column;
    }


}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
}

